# Site specific configuration
site.mak

# Qt Creator and possibly vscode project files
perfgrind.config
perfgrind.creator*
perfgrind.files
perfgrind.includes

# clangd info (usable directly or via llvm-vs-code-extensions.vscode-clangd) 
compile_commands.json
*.idx

# Build artifacts
pgcollect
pginfo
pgconvert

# Doxygen documentation
html
